.dice {
    width: 60px;
    height: 60px;
    border: 3px black solid;
    background-color: #D3D3D3;
    position: relative;
    margin: auto;
    bottom: 5%;
    margin-top: 100px;
    font-size: 30px;
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#result {
    /*border: 2px solid red;
  height: 100%; */
    margin-top: 18%;
}

.dice.roll1 {
    -webkit-animation-name: rotate1;
    animation-name: rotate1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dice.roll1,
.dice.roll2 {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dice.roll2 {
    -webkit-animation-name: rotate2;
    animation-name: rotate2;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dice.roll3 {
    -webkit-animation-name: rotate3;
    animation-name: rotate3;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dice.roll3,
.dice.roll4 {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dice.roll4 {
    -webkit-animation-name: rotate4;
    animation-name: rotate4;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dice.roll5 {
    -webkit-animation-name: rotate5;
    animation-name: rotate5;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dice.roll5,
.dice.roll6 {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dice.roll6 {
    -webkit-animation-name: rotate6;
    animation-name: rotate6;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dice .face {
    height: 60px;
    width: 60px;
    position: absolute;
}

.dice .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.dice .six {
    -webkit-transform: rotateY(0deg) translateZ(30px);
    transform: rotateY(0deg) translateZ(30px);
}

.dice .one {
    -webkit-transform: rotateX(180deg) translateZ(30px);
    transform: rotateX(180deg) translateZ(30px);
}

.dice .five {
    -webkit-transform: rotateY(90deg) translateZ(30px);
    transform: rotateY(90deg) translateZ(30px);
}

.dice .two {
    -webkit-transform: rotateY(-90deg) translateZ(30px);
    transform: rotateY(-90deg) translateZ(30px);
}

.dice .three {
    -webkit-transform: rotateX(90deg) translateZ(30px);
    transform: rotateX(90deg) translateZ(30px);
}

.dice .four {
    -webkit-transform: rotateX(-90deg) translateZ(30px);
    transform: rotateX(-90deg) translateZ(30px);
}

@-webkit-keyframes rotate1 {
    0% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(180deg) rotate(-90deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(-180deg) rotateY(90deg) rotate(1turn) translateX(0);
        transform: rotateX(-180deg) rotateY(90deg) rotate(1turn) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(90deg) rotateY(-180deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(-180deg) rotate(-90deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
    }
    to {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@keyframes rotate1 {
    0% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(180deg) rotate(-90deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(-180deg) rotateY(90deg) rotate(1turn) translateX(0);
        transform: rotateX(-180deg) rotateY(90deg) rotate(1turn) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(90deg) rotateY(-180deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(-180deg) rotate(-90deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(-90deg) rotate(90deg) translateX(0);
    }
    to {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

@-webkit-keyframes rotate2 {
    0% {
        -webkit-transform: rotateX(-90deg) rotateY(-90deg) rotate(1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(-90deg) rotate(1turn) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotate(90deg) translateX(0);
        transform: rotateX(90deg) rotateY(180deg) rotate(90deg) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(90deg) rotateY(-270deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(-270deg) rotate(-90deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotate(-1turn) translateX(0);
        transform: rotateX(90deg) rotateY(90deg) rotate(-1turn) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(-18deg) rotateY(-180deg) rotate(-90deg) translateX(0);
        transform: rotateX(-18deg) rotateY(-180deg) rotate(-90deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(180deg) rotateY(-90deg) rotate(-1turn) translateX(0);
        transform: rotateX(180deg) rotateY(-90deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
}

@keyframes rotate2 {
    0% {
        -webkit-transform: rotateX(-90deg) rotateY(-90deg) rotate(1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(-90deg) rotate(1turn) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotate(90deg) translateX(0);
        transform: rotateX(90deg) rotateY(180deg) rotate(90deg) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(90deg) rotateY(-270deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(-270deg) rotate(-90deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotate(-1turn) translateX(0);
        transform: rotateX(90deg) rotateY(90deg) rotate(-1turn) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(-18deg) rotateY(-180deg) rotate(-90deg) translateX(0);
        transform: rotateX(-18deg) rotateY(-180deg) rotate(-90deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(180deg) rotateY(-90deg) rotate(-1turn) translateX(0);
        transform: rotateX(180deg) rotateY(-90deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }
}

@-webkit-keyframes rotate3 {
    0% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotate(90deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotate(90deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(-270deg) rotate(180deg) translateX(0);
        transform: rotateX(180deg) rotateY(-270deg) rotate(180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(90deg) rotateY(-180deg) rotate(1turn) translateX(0);
        transform: rotateX(90deg) rotateY(-180deg) rotate(1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
}

@keyframes rotate3 {
    0% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotate(90deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotate(90deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(-270deg) rotate(180deg) translateX(0);
        transform: rotateX(180deg) rotateY(-270deg) rotate(180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(90deg) rotate(-90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(90deg) rotateY(-180deg) rotate(1turn) translateX(0);
        transform: rotateX(90deg) rotateY(-180deg) rotate(1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
    }
}

@-webkit-keyframes rotate4 {
    0% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotate(-90deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotate(-90deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(270deg) rotateY(-180deg) rotate(1turn) translateX(0);
        transform: rotateX(270deg) rotateY(-180deg) rotate(1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(-90deg) rotateY(90deg) rotate(90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(90deg) rotate(90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(-270deg) rotate(180deg) translateX(0);
        transform: rotateX(18deg) rotateY(-270deg) rotate(180deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@keyframes rotate4 {
    0% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotate(-90deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotate(-90deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(270deg) rotateY(-180deg) rotate(1turn) translateX(0);
        transform: rotateX(270deg) rotateY(-180deg) rotate(1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(-90deg) rotateY(90deg) rotate(90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(90deg) rotate(90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(-270deg) rotate(180deg) translateX(0);
        transform: rotateX(18deg) rotateY(-270deg) rotate(180deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg);
    }
}

@-webkit-keyframes rotate5 {
    0% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotate(-180deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotate(-180deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(270deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(270deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(-90deg) rotateY(90deg) rotate(-90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(90deg) rotate(-90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
}

@keyframes rotate5 {
    0% {
        -webkit-transform: rotateX(-180deg) rotateY(-90deg) rotate(-180deg) translateX(0);
        transform: rotateX(-180deg) rotateY(-90deg) rotate(-180deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(270deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(270deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(180deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(-90deg) rotateY(90deg) rotate(-90deg) translateX(0);
        transform: rotateX(-90deg) rotateY(90deg) rotate(-90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
        transform: rotateX(18deg) rotateY(270deg) rotate(180deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateY(-90deg);
        transform: rotateY(-90deg);
    }
}

@-webkit-keyframes rotate6 {
    0% {
        -webkit-transform: rotateX(270deg) rotateY(-90deg) rotate(180deg) translateX(0);
        transform: rotateX(270deg) rotateY(-90deg) rotate(180deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(180deg) rotateY(90deg) rotate(1turn) translateX(0);
        transform: rotateX(180deg) rotateY(90deg) rotate(1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(90deg) rotate(-180deg) translateX(0);
        transform: rotateX(180deg) rotateY(90deg) rotate(-180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(90deg) rotateY(270deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(270deg) rotate(-90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(-180deg) rotate(90deg) translateX(0);
        transform: rotateX(18deg) rotateY(-180deg) rotate(90deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg);
    }
}

@keyframes rotate6 {
    0% {
        -webkit-transform: rotateX(270deg) rotateY(-90deg) rotate(180deg) translateX(0);
        transform: rotateX(270deg) rotateY(-90deg) rotate(180deg) translateX(0);
    }
    10% {
        -webkit-transform: rotateX(180deg) rotateY(90deg) rotate(1turn) translateX(0);
        transform: rotateX(180deg) rotateY(90deg) rotate(1turn) translateX(0);
    }
    30% {
        -webkit-transform: rotateX(180deg) rotateY(90deg) rotate(-180deg) translateX(0);
        transform: rotateX(180deg) rotateY(90deg) rotate(-180deg) translateX(0);
    }
    50% {
        -webkit-transform: rotateX(90deg) rotateY(270deg) rotate(-90deg) translateX(0);
        transform: rotateX(90deg) rotateY(270deg) rotate(-90deg) translateX(0);
    }
    70% {
        -webkit-transform: rotateX(18deg) rotateY(-180deg) rotate(90deg) translateX(0);
        transform: rotateX(18deg) rotateY(-180deg) rotate(90deg) translateX(0);
    }
    90% {
        -webkit-transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
        transform: rotateX(-90deg) rotateY(180deg) rotate(-1turn) translateX(0);
    }
    to {
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        transform: rotateX(0deg) rotateY(0deg);
    }
}