#containWin {
  position: absolute;
  height: 90%;
  width: 100%;
  text-align: center;
  margin-top: 4%;
}

p {
  margin-top: 15%;
  font-size: 1.5em;
}

#button {
  margin-bottom: 5%;
}
